<nav>
  <img src="http://www.clipartbest.com/cliparts/niB/Xqb/niBXqbdXT.jpeg" />
  <ul>
    <li><a data-scroll href="#home">home</a></li>
    <li><a data-scroll href="#how-we-work">how we work</a></li>
    <li><a data-scroll href="#portfolio">portfolio</a></li>
    <li><a data-scroll href="#contact">contact</a></li>
  </ul>
</nav
