<nav class="menu">
  <img src="./img/treeLogo.jpeg" />
  <ul>
    <li class="menu__item liSelected"><a data-scroll href="#home-tag">Home</a></li>
    <li class="menu__item"><a data-scroll href="#who-are-we-tag">Who Are We</a></li>
    <li class="menu__item"><a data-scroll href="#how-we-work-tag">How We Work</a></li>
    <li class="menu__item"><a data-scroll href="#portfolio-tag">Portfolio</a></li>
    <li class="menu__item"><a data-scroll href="#contact-tag">Contact</a></li>
  </ul>
</nav

