<nav>
  <img src="./img/treeLogo.jpeg" />
  <ul>
    <li><a data-scroll href="#home">Home</a></li>
    <li><a data-scroll href="#who-are-we">Who Are We</a></li>
    <li><a data-scroll href="#how-we-work">How We Work</a></li>
    <li><a data-scroll href="#portfolio">Portfolio</a></li>
    <li><a data-scroll href="#contact">Contact</a></li>
  </ul>
</nav

