<svg class="howWeWork-elements" viewBox="0 0 202 216" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="build-symbol" sketch:type="MSLayerGroup" transform="translate(3.000000, 3.000000)" stroke="#979797">
            <ellipse id="Oval-1-Copy-4" stroke-width="6" fill="#DDD6D6" sketch:type="MSShapeGroup" cx="98" cy="105" rx="98" ry="105"></ellipse>
            <g id="Rectangle-17-+-Rectangle-18" transform="translate(98.000000, 105.000000) rotate(-330.000000) translate(-98.000000, -105.000000) translate(65.000000, 54.000000)" sketch:type="MSShapeGroup">
                <path d="M20,28.0008501 C20,23.0298178 24.0209362,19 29.0058039,19 L33.8320312,19 L35.9983519,19 C40.9698249,19 45,23.0313121 45,28.0008501 L45,92.9991499 C45,97.9701822 40.9694339,102 36.0097464,102 L28.9902536,102 C24.0250736,102 20,97.9686879 20,92.9991499 L20,28.0008501 Z" id="Rectangle-17" fill="#8B572A"></path>
                <rect id="Rectangle-18" fill="#D8D8D8" x="0" y="0" width="66" height="31"></rect>
            </g>
        </g>
    </g>
</svg>

<div class="howWeWorkContent">
  <%- partial("../_content/howWeWork/build") %>
</div>
