footer {
  height: $footer-height;
  background-color: $vDark-green;

  p {
    color: $vLight-green;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
    line-height: $footer-height;
  }
}
