#howWeWorkElContainer {
  position: relative;
  width: 20%;
  margin-left: 20%;
  float: left;
}

/* prev - w:202px, h: 216px*/
.howWeWork-elements {
  /* width: 90.9px; height: 97.2px; */
  margin: 5%;
}

#howWeWorkContContainer {
  width: 50%;
  height: 80%;
}

.howWeWorkContent {
  position: absolute;
  width: 100%;
  height: 80%;
}

.hidden {
  visibility: hidden;
}

.enlarged {
  /*width: 151.5px; height: 162px;*/
}

.enlargedWrapper {
  margin-bottom: 26%;
}

#howWeWorkContContainer {
  position: relative;
  float: left;
}
