#howWeWorkElContainer {
  position: relative;
  width: 20%;
  margin-left: 20%;
  float: left;
}

/* original dimensions - w:202px, h: 216px*/
.howWeWork-elements {
  margin: 5%;
}

#howWeWorkContContainer {
  width: 50%;
  height: 80%;
  .howWeWorkContent {
    position: absolute;
    width: 100%;
    height: 80%;
    p {
      font-size: 140%;
    }
  }

  .showing{
    opacity: 1;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
  }

  .hidden {
    opacity: 0;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    -o-animation: fadeout 1s;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.enlargedWrapper {
  margin-bottom: 26%;
}

#howWeWorkContContainer {
  position: relative;
  float: left;
}
