nav {
  position: fixed;
  margin: auto;
  height: 70px; /* in px for ensuring smooth scroll stops at the correct point */
  background-color: orange;
  width: 100%;
  z-index: 5;

  img {
    height: 100%;
    float: left;
  }

  ul {
    margin: 0 70px;
    height: 100%;
    list-style-type: none;
    font-size: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #444;
        padding: 0 .625em;
        font-size: 1.5rem;
        line-height: 70px;
        display: block;
      }
    }

    li:hover {
      transition-delay: 0.6s;
      transition: all 1.2s ease;
      background-color: red;
    }
  }
}

.liSelected {
  transition-delay: 0.6s;
  transition: all 1.2s ease;
  background-color: red;
}

.section {
  padding: 2% 2%;
  background-color: lightblue;
}

.section:nth-of-type(odd) {
  background-color: lightgreen;
}
