$main-font: "futura" Arial;

// heights

$nav-height: 70px;
$footer-height: 70px;

// colors

$vDark-green: #1A4A00;
$dark-green: #336F12;
$light-green: #7DB95C;
$vLight-green: #AEDE94;

// break points
$bp-tablet: 500px;
$bp-desktop: 800px;
