#whoAreWeElements {
  width: 100%;
  margin-top: 5%;

  #technical {
    position: relative;

    #big-cog {
      width: 152px;
      height: 142px;
      -webkit-animation: spin 4s infinite linear;
    }

    #small-cog {
      width: 77px;
      height: 73px;
      -webkit-animation: anti-spin 4s infinite linear;
    }
  }

  #client-relation-img {
    width: 245px;
    height: 127px;
  }

  #phone-tick {
    width: 123;
    height: 179px;
  }

  div {
    width: 33%;
    float: left;
    margin: auto;
    .whoAreWeElContent {
      padding: 2%;
      margin: auto;
      margin-top: 20%;
      width: 100%;
    }
  }
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes anti-spin {
	0%  {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}
