* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "futura";
  text-align: center;
  background: #f4f4f7;
  color: #444;
  display: inline;
}

nav {
  position: fixed;
  margin: auto;
  height: 70px; /* in px for ensuring smooth scroll stops at the correct point */
  background-color: orange;
  width: 100%;
  img {
    height: 100%;
    float: left;
  }
  ul {
    margin: 0 70px;
    height: 100%;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: #444;
        padding: 0 .625em;
        font-size: 1.5em;
        line-height: 70px;
      } 
    }
    li:hover {
      transition-delay: 0.6s;
      transition: all 1.2s ease;
      background-color: red;
    }
  }
}

.liSelected {
  transition-delay: 0.6s;
  transition: all 1.2s ease;
  background-color: red;
}

section {
  padding: 2% 2%;
  background-color: lightblue;
}

section:nth-of-type(odd) {
  background-color: lightgreen;
}

footer {
  height: 70px;
  background-color: lightblue;

  p {
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 70px;
  }
}

/*

#home {
  margin-top: 12%;
  background-image: url("../img/imgres.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 20%;

  h4 {
    padding: 4%;
  }

  p {
    float: left;
    width: 33.3%;
    text-align: center;
  }
}

footer {
  margin-top: 15%;
  height: 5%;
  background-color: lightblue;

  p {
    float: left;
    width: 25%;
    text-align: center;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  font-weight: 300;
}
*/
