@import 'variables';
@import 'splash-img';
@import 'nav';
@import 'whoAreWe';
@import 'howWeWork';
@import 'portfolio';
@import 'footer';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "futura";
  text-align: center;
  color: #444;
  display: inline;
}

.section {
  padding: 2% 2%;
  background-color: $light-green;
}

.section:nth-of-type(odd) {
  background-color: $vLight-green;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  font-weight: 300;
}
