<!doctype html>
<html>
  <head>
    <title>FACtree</title>
    <link rel="stylesheet" href="./scss/main.css">
    <script src="./js/smooth-scroll.js"></script>
  </head>
  <body>
    <%- partial("navbar/_navbar") %>
    <%- yield %>
    <%- partial("footer/_footer") %>
  </body>
</html>

