<!doctype html>
<html>
  <head>
    <title>FACtree</title>
    <link rel="stylesheet" href="./main.css">
    <script src="./smooth-scroll.js"></script>
  </head>
  <body>
    <%- partial("_navbar") %>
    <%- yield %>
    <%- partial("_footer") %>
  </body>
</html>

