<main>
  <span id="home"></span>
  <section class="intro" id="home">
    <%- partial("_content/intro") %>
  </section>

  <section class="missionStatement">
    <%- partial("_content/mission-statement") %>
  </section>

  <span id="how-we-work"></span>
  <section class="howWeWork">
    <%- partial("_content/how-we-work") %>
  </section>

  <span id="portfolio"></span>
  <section class="portfolio">
    <h2> PORTFOLIO </h2>
  </section>

  <span id="contact"></span>
  <section class="contact">
    <h2> CONTACT </h2>
  </section>
</main>

