<h1>Portfolio</h1>

<section id="sliderContainer">
  <div class="regular slider">
    <% for (var app in public.portfolioData._data){ %>
      <div>
        <div class="portfolContainer">
          <a href="<%= public.portfolioData._data[app].link %>">
            <img src="<%= public.portfolioData._data[app].img %>" height="400">
          <a/>
        </div>
      </div>
    <% }; %>
  </div>
</section>
