<h1>Portfolio</h1>

<section id="sliderContainer">
  <div class="regular slider">
    <div>
      <div class="portfolContainer">1</div>
    </div>
    <div>
      <div class="portfolContainer">2</div>
    </div>
    <div>
      <div class="portfolContainer">3</div>
    </div>
    <div>
      <div class="portfolContainer">4</div>
    </div>
    <div>
      <div class="portfolContainer">5</div>
    </div>
    <div>
      <div class="portfolContainer">6</div>
    </div>
  </div>
</section>
