<h1>Portfolio</h1>

<section id="sliderContainer">
  <div class="regular slider">
    <div>
      <div class="portfolContainer">
        <a href="">
          <img src="./img/portfolio/mind-aid-screen-shot.png" height="400">
        <a/>
      </div>
    </div>
    <div>
      <div class="portfolContainer">
        <a href="">
          <img src="./img/portfolio/how-am-i-doing-screen-shot.png" height="400">
        <a/>
      </div>
    </div>
    <div>
      <div class="portfolContainer">
        <a href="">
          <img src="./img/portfolio/share-plan-screen-shot.png" height="400">
        <a/>
      </div>
    </div>
    <div>
      <div class="portfolContainer">
        <a href="https://github.com/FAC7/anna-freud-hub">
          <img src="https://cloud.githubusercontent.com/assets/14013616/15903079/db98632a-2da2-11e6-9de0-7d645812516e.gif" height="400">
        <a/>
      </div>
    </div>
    <div>
      <div class="portfolContainer">
        <a href="https://github.com/FAC7/anna-freud-hub">
          <img src="https://cloud.githubusercontent.com/assets/14013616/15903085/df625bdc-2da2-11e6-9af1-f960590586ab.gif" height="400">
        <a/>
      </div>
    </div>
    <div>
      <div class="portfolContainer">
        <a href="https://github.com/FAC7/anna-freud-hub">
          <img src="https://cloud.githubusercontent.com/assets/14013616/15903092/e7db0b74-2da2-11e6-88a8-0146a6e9dd41.gif" height="400">
        <a/>
      </div>
    </div>
  </div>
</section>
