<svg id="client-relation-img" viewBox="0 0 489 254" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" stroke="#979797" fill="#000080">
            <path d="M163.307424,151.161866 C146.096884,135.800971 123.607602,126.5 99,126.5 C44.8760945,126.5 1,171.495383 1,227 C1,227.166762 1.00039606,227.333429 1.00118727,227.5 L119.474793,227.5 C126.135417,196.209778 141.955449,169.313485 163.307424,151.161866 L163.307424,151.161866 Z" id="Oval-1" sketch:type="MSShapeGroup"></path>
            <ellipse id="Oval-2" sketch:type="MSShapeGroup" cx="99" cy="50.5" rx="50" ry="50"></ellipse>
            <path d="M325.692576,151.161866 C342.903116,135.800971 365.392398,126.5 390,126.5 C444.123905,126.5 488,171.495383 488,227 C488,227.166762 487.999604,227.333429 487.998813,227.5 L369.525207,227.5 C362.864583,196.209778 347.044551,169.313485 325.692576,151.161866 L325.692576,151.161866 Z" id="Oval-1-Copy" sketch:type="MSShapeGroup"></path>
            <circle id="Oval-2-Copy" sketch:type="MSShapeGroup" cx="390" cy="50.5" r="50"></circle>
            <path d="M344.998813,253.5 C344.999604,253.333429 345,253.166762 345,253 C345,197.495383 301.123905,152.5 247,152.5 C192.876095,152.5 149,197.495383 149,253 C149,253.166762 149.000396,253.333429 149.001187,253.5 L344.998813,253.5 Z" id="Oval-1-Copy-2" sketch:type="MSShapeGroup"></path>
            <circle id="Oval-2-Copy-2" sketch:type="MSShapeGroup" cx="247" cy="76.5" r="50"></circle>
        </g>
    </g>
</svg>

<div class="whoAreWeElContent">
  <%- partial("../_content/whoAreWe/client-relations") %>
</div>
