<%- partial("../_content/whoAreWe/index") %>

<div id="whoAreWeElements">
  <div id="technical">
    <%- partial("./technical") %>
  </div>

  <div id="client-relations">
    <%- partial("./client-relations") %>
  </div>

  <div id="finished-product">
    <%- partial("./finished-product") %>
  </div>
</div>
