<%- partial("../_content/whoAreWe/index") %>

<div id="technical-content">
  <%- partial("./technical-content") %>
</div>

<div id="client-relations">
  <%- partial("./client-relations") %>
</div>

<div id="finished-product">
  <%- partial("./finished-product") %>
</div>
